<?php

// development.php.example
// Example Development Configuration

return [

	'app' => [
		'url' => 'http://localhost/',
		'hash' => [
			'algo' => PASSWORD_BCRYPT,
			'cost' => 10
		]
	],

	'db' => [
		'driver' => 'mysql',
		'host' => '127.0.0.1',
		'name' => 'site',
		'username' => 'root',
		'password' => '',
		'charset' => 'utf8',
		'collation' => 'utf8_unicode_ci',
		'prefix' => ''
	],

	'auth' => [
		'session' => 'user_id',
		'remember' => 'user_r'
	],

	'mail' => [
		'smtp' => true,
		'smtp_auth' => true,
		'smtp_secure' => 'ssl',
		'host' => 'smtp.gmail.com',
		'username' => 'example@gmail.com',
		'password' => 'gmail_password',
		'port' => '465',
		'html' => true,
		'from' => 'example@gmail.com',
		'from_name' => 'Logan Graba',
		'add_reply_to' => 'example@gmail.com'
	],

	'twig' => [
		'debug' => true
	],

	'csrf' => [
		'session' => 'csrf_token'
	]

];